<h1>Products</h1>

<table class="products-table">
  <thead>
    <tr>
      <th>Product ID</th>
      <th>Title</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id%></td>
        <td><%= product.title %></td>
        <td>$<%= product.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
